extends layout

block profile

  form.login_form(action="", method="post")
    div
      label ID
      br
      input#id(type="text", name="id")
    div
      label Password
      br
      input#password(type="password", name="password")
    button(type="submit") sign in
    button(type="submit") sign up

block content
  h2 전체글보기
  .create
    a(href="/create") 글 쓰기
  table.articles
    thead
      td.article_no No
      td.article_title 제목
      td.article_author 닉네임
      td.article_date 날짜
      td.article_views 조회
    -for(var i = 0; i < articles.length; ++i) {
      tr
        td
          a(href=`/id/${articles[i]._id}`)= articles[i]._id
        td
          a(href=`/id/${articles[i]._id}`)= articles[i].title
        td= articles[i].nickname
        td= articles[i].date
        td= articles[i].views
    -}
      